name: Build and deploy Consumer

on:
  push:
    branches:
      - main
  workflow_dispatch:

env:
  REGISTRY_LOGIN_SERVER: net7container.azurecr.io
  AZURE_WEBAPP_NAME_CONTAINER: net7container

jobs:
  docker_build_push_acr:
    name: 'Docker Build and Push to ACR'
    runs-on: ubuntu-latest
    environment: Development

    # Use the Bash shell regardless whether the GitHub Actions runner is ubuntu-latest, macos-latest, or windows-latest
    defaults:
      run:
        shell: bash

    steps:
    # Checkout the repository to the GitHub Actions runner
    - name: Checkout
      uses: actions/checkout@v2

    - name: 'Docker Login'
      uses: azure/docker-login@v1
      with:
        login-server: ${{ env.REGISTRY_LOGIN_SERVER }}
        username: ${{ secrets.REGISTRY_USERNAME }}
        password: ${{ secrets.REGISTRY_PASSWORD }}

    - name: Build and push it to ACR
      uses: docker/build-push-action@v2
      with:
        push: true
        tags: ${{ env.REGISTRY_LOGIN_SERVER }}/net7container:${{ github.sha }}
        file: ./DemoMicroservices/Producer/Dockerfile

  deploy:
    runs-on: ubuntu-latest
    needs: docker_build_push_acr
    environment:
      name: 'Development'
      url: ${{ steps.deploy-to-webapp.outputs.webapp-url }}

    steps:
      - name: Lowercase the repo name
        run: echo "REPO=${GITHUB_REPOSITORY,,}" >>${GITHUB_ENV}

      # - name: Deploy to Azure Web App Container
      #   id: deploy-to-webapp
      #   uses: azure/webapps-deploy@v2
      #   with:
      #     app-name: ${{ env.AZURE_WEBAPP_NAME_CONTAINER }}
      #     publish-profile: ${{ secrets.AZURE_WEBAPP_PUBLISH_PROFILE_CONTAINER }}
      #     images: '${{ env.REGISTRY_LOGIN_SERVER }}/net7container:${{ github.sha }}'
